.marker-cluster {
  background-color: white;
  color: white;
  font-family: 'DIN-Regular';
  background-clip: border-box;
  text-align: center;
  font-size: 9px; }

.marker-cluster.active-marker {
  background-color: #ffde01;
  border: 3px solid #ffde01; }

.marker-cluster > div {
  margin-left: 2px;
  margin-top: 2px;
  font-family: 'DIN-Regular';
  text-align: center; }

.marker-cluster > div {
  background-color: #000; }

.marker-cluster > div > span, .marker-cluster > div > div > span {
  position: relative;
  top: 0.1em; }

.marker-cluster-single {
  background-color: initial;
  border-radius: 20px;
  width: 20px !important;
  height: 20px !important;
  margin-left: -10px !important;
  margin-top: -10px !important; }

.marker-cluster-single > div {
  width: 16px;
  height: 16px;
  border-radius: 20px; }

.marker-cluster-single > div > div > span {
  line-height: 16px; }

.marker-cluster-small {
  border-radius: 20px;
  width: 30px !important;
  height: 30px !important;
  margin-left: -15px !important;
  margin-top: -15px !important; }

.marker-cluster-small > div {
  width: 26px;
  height: 26px;
  border-radius: 20px; }

.marker-cluster-small > div > span {
  line-height: 26px; }

.marker-cluster-medium {
  border-radius: 30px;
  width: 44px !important;
  height: 44px !important;
  margin-left: -22px !important;
  margin-top: -22px !important; }

.marker-cluster-medium > div {
  width: 40px;
  height: 40px;
  border-radius: 44px; }

.marker-cluster-medium > div > span {
  line-height: 40px; }

.marker-cluster-large {
  border-radius: 60px;
  width: 60px !important;
  height: 60px !important;
  margin-left: -30px !important;
  margin-top: -30px !important; }

.marker-cluster-large > div {
  width: 56px;
  height: 56px;
  border-radius: 60px; }

.marker-cluster-large > div > span {
  line-height: 56px; }

.clusterDonut {
  position: absolute;
  top: 0px;
  left: 0px; }
